#!/bin/sh
exec /sbin/setuser memsql /memsql_demo/memsql-demo worker --debug \
    --db-host $MEMSQL_PRIMARY_HOST --db-port $MEMSQL_PRIMARY_MEMSQL_PORT >/var/log/demo_worker.log 2>&1
