mesos-containers/mesos_0.22.1-rc2-1.0.ubuntu1404_amd64.deb
mesos-containers/mesos_0.22.1-rc2-1.0.ubuntu1404_amd64.egg
mesos-containers/mesos-master
mesos-containers/mesos-slave
mesos-containers/mesos
mesos-containers/Makefile
node_modules
static/js
static/scss
.git
node_modules
*.pyc
*.pyo
*.pyd
*.so
*.egg-info
dist
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
pip-log.txt
venv
